<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mescan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MesCan</name>
    <description>
        ToDo...
    </description>
    <author email="L.Sencer.Sahin@gmail.com">
        Levent Sencer ŞAHİN | @buglss
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="StatusBarBackgroundColor" value="#673ab7" />
        <icon density="ldpi" src="res/icon/android/Icon-36.png" />
        <icon density="mdpi" src="res/icon/android/Icon-48.png" />
        <icon density="hdpi" src="res/icon/android/Icon-72.png" />
        <icon density="xhdpi" src="res/icon/android/Icon-96.png" />
        <icon density="xxhdpi" src="res/icon/android/Icon-144.png" />
        <icon density="xxxhdpi" src="res/icon/android/Icon-192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarBackgroundColor" value="#5856d6" />
        <icon height="180" src="res/ios/Icon-180.png" width="180" />
        <icon height="60" src="res/ios/Icon-60.png" width="60" />
        <icon height="120" src="res/ios/Icon-120.png" width="120" />
        <icon height="76" src="res/ios/Icon-76.png" width="76" />
        <icon height="152" src="res/ios/Icon-152.png" width="152" />
        <icon height="40" src="res/ios/Icon-40.png" width="40" />
        <icon height="80" src="res/ios/Icon-80.png" width="80" />
        <icon height="57" src="res/ios/Icon-57.png" width="57" />
        <icon height="114" src="res/ios/Icon-114.png" width="114" />
        <icon height="72" src="res/ios/Icon-72.png" width="72" />
        <icon height="144" src="res/ios/Icon-144.png" width="144" />
        <icon height="167" src="res/ios/Icon-167.png" width="167" />
        <icon height="29" src="res/ios/Icon-29.png" width="29" />
        <icon height="58" src="res/ios/Icon-58.png" width="58" />
        <icon height="50" src="res/ios/Icon-50.png" width="50" />
        <icon height="100" src="res/ios/Icon-100.png" width="100" />
        <icon height="167" src="res/ios/Icon-167.png" width="167" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-sqlite-storage" spec="^2.4.0" />
    <engine name="android" spec="~7.0.0" />
    <plugin name="com.cordova.plugin.firebase.admin" spec="../Plugins/FirebaseAdmin" />
</widget>
